{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="margin-left: 40%;">
    <h1>ICP 抽獎系統</h1>
    <ul style="list-style-type: none; padding: 0;"></ul>
    <li style="margin: 10px 0;"><a href="/senior_member">雲鼎卓越獎</a></li>
    <li style="margin: 10px 0;"><a href="/junior_member">成長雲階獎</a></li>
    <li style="margin: 10px 0;"><a href="/new_member">新雲啟航獎</a></li>
    <li style="margin: 10px 0;"><a href="/gifts?drawing_group=4">獎品</a></li>
    </ul>
</div>
{% endblock %}