{% extends "base.html" %}

{% block title %}半年以上{% endblock %}

{% block head %}
<title>Christmas Night - Rising Stars</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% endblock %}

{% block content %}
<div id="templatemo_wrapper_outter">
    <div id="templatemo_wrapper_inner">
        <div id="templatemo_wrapper">
            <div id="templatemo_header">
                <div id="site_title">
                    <h1></h1>
                </div>
            </div> <!-- end of header -->
        
        <div class="outer-wrapper">

            <div id="templatemo_main">
                <div class="col_fw">
                    <div class="header-container">
                        <h3 class="highlight-title">
                            成長雲階獎
                        </h3>
                        {% include 'partials/drawing_groups.html' %}
                    </div>
                    <div class="details">
                        你們是加雲不可或缺的力量，在穩定成長中展現專業與熱情，有你們的加入讓團隊更加強大!
                    </div>
                    <div class="bonus-title-container">
                        <h3 class="bonus-title">
                            NT 1000 元
                        </h3>
                    </div>
                    <div class="table-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell">編號</div>
                                <div class="table-cell">名字</div>
                            </div>
                            {% for employee in employees[:11] %}
                            <div style="display: flex">
                                <div class="id-cell">{{ employee.id }}</div>
                                <div class="name-cell">{{ employee.name }}</div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell">編號</div>
                                <div class="table-cell">名字</div>
                            </div>
                            {% for employee in employees[11:22] %}
                            <div style="display: flex">
                                <div class="id-cell">{{ employee.id }}</div>
                                <div class="name-cell">{{ employee.name }}</div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell">編號</div>
                                <div class="table-cell">名字</div>
                            </div>
                            {% for employee in employees[22:] %}
                            <div style="display: flex">
                                <div class="id-cell">{{ employee.id }}</div>
                                <div class="name-cell">{{ employee.name }}</div>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!-- end of templatemo main -->
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="templatemo_footer">
    Copyright &copy; 2024 ICPSI
</div>
{% endblock %}